.container{
    background-color: #080821;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerContainer {
    background-color: #150035;
    margin: 0 auto;
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 5vh 60px;
    border-radius: 10px;
    /* margin-top: 70px; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerContainer>h1{
    color: #ffffff;
    text-align: center;

}
.innerContainer>span{
    text-align: center;
    color:  #5071A8;
    font-size: 13px;
    display: block;
    margin: 20px 0;
}
.inputContainer{
    margin-bottom: 30px;
    width: 100%;
}
.inputContainer>span{
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}
.inputContainer>input{
    width: 100%;
    background: transparent;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 17px 5px;
    color: grey;
}
.innerContainer>button{
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #F46300;
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
}